<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Add Costs</h3>
</div>
<div class="modal-body profil" id="modal-body">
    <div class="row">
        <div class="col-md-5">
            <form class="form-inline">
                <input class="form-control" type="text" placeholder="Title" ng-model="title" />
                <input class="form-control" type="text" placeholder="Description" ng-model="desc" />
                <input class="form-control" type="number" placeholder="Category" ng-model="category" />
                <input class="form-control" type="date" placeholder="Date" ng-model="date" />
                <input class="form-control" type="number" placeholder="Price" ng-model="price" />
                <input class="form-control" type="text" placeholder="Currency" value="EUR" ng-model="currency" />
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="addCost()">Save</button>
    </div>
</div>