<div class="container-fluid ">
    <div class="row ">
        <h1>Your entries</h1>
        <button class="btn" ng-click="addCostModal()">Add</button>
        <div class="table-responsive">
            <table class="table table-condensed">
                <tr ng-repeat="cost in costs">
                    <td tooltip={{cost.desc}}>
                        {{cost.title}}
                    </td>
                    <td>{{categories|getCategoryName: cost.category }}
                    </td>
                    <td>{{cost.price}} {{cost.currency}}</td>
                    <td>{{cost.date*1000|date:"dd.MM.y HH:mm" }}</td>
                    <td>
                        <button class="btn btn-default" ng-click="delete(cost.id)">🗑</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>