<div class="container-fluid ">
    <div class="row ">
        <h1>Your entries</h1>
        <button class="btn" ng-click="openCostModal()">Add a new expense or income</button>

        <table class="table top-buffer">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Date</th>
                <th>Category</th>

                <th class="text-right">Value</th>

                <th></th>
            </tr>
            <tr ng-repeat="cost in costs">
                <td>{{cost.title}} </td>
                <td>{{cost.desc}} </td>
                <td>{{cost.date*1000|date:"dd.MM.y HH:mm": '+0300' }}</td>
                <td ng-style="{'color':(categories|getCategoryColor:cost.category)}">{{categories|getCategoryName: cost.category }} </td>
                <td class="text-right" ng-class="cost.price<0?'red':'green'">{{cost.price|number:2}} {{cost.currency}}</td>

                <td class="clickable text-center" ng-click="delete(cost.id)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </td>
            </tr>
        </table>

    </div>
</div>